---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=<FLICKR-KEY>&content_type=1&extras=url_l&format=json&media=photos&method=flickr.photos.search&nojsoncallback=true&per_page=10&tags=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":52962,"perpage":10,"total":"529618","photo":[{"id":"47576887932","owner":"87903007@N02","secret":"7006d2929d","server":"65535","farm":66,"title":"The
        Dirt Party May 10 2019 in Denver CO","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/47576887932_7006d2929d_b.jpg","height_l":"960","width_l":"621"},{"id":"40663239463","owner":"33215734@N04","secret":"db3a30c497","server":"65535","farm":66,"title":"Americano
        Perfecto","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/40663239463_db3a30c497_b.jpg","height_l":"1024","width_l":"1024"},{"id":"47629614151","owner":"23721977@N00","secret":"45039aa76f","server":"65535","farm":66,"title":"RR-19790310-DRGW-2","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/4[...]
