---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=<FLICKR-KEY>&content_type=1&extras=url_l&format=json&media=photos&method=flickr.photos.search&nojsoncallback=true&per_page=10&tags=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":56866,"perpage":10,"total":"568660","photo":[{"id":"46701436895","owner":"81993882@N00","secret":"b9c23e9d49","server":"65535","farm":66,"title":"P1050950","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/46701436895_b9c23e9d49_b.jpg","height_l":"768","width_l":"1024"},{"id":"35806356511","owner":"155478739@N08","secret":"f3f6a35fff","server":"4205","farm":5,"title":"Peyton
        Manning","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/4205\/35806356511_f3f6a35fff_b.jpg","height_l":"1024","width_l":"1024"},{"id":"47563252052","owner":"17017714@N04","secret":"53af094825","server":"65535","farm":66,"title":"Pete''s
        Kitchen | Denver, CO","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.[...]
