---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=<FLICKR-KEY>&content_type=1&extras=url_l&format=json&media=photos&method=flickr.photos.search&nojsoncallback=true&per_page=10&tags=location,location%20museum,%20location%20parks,%20location%20cityhall,%20location%20downtown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":29238,"perpage":10,"total":"292380","photo":[{"id":"32688674847","owner":"146227005@N02","secret":"847a13ffc8","server":"65535","farm":66,"title":"9X1A2497","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/32688674847_847a13ffc8_b.jpg","height_l":"683","width_l":"1024"},{"id":"33753702518","owner":"91204073@N02","secret":"c368f3d98f","server":"65535","farm":66,"title":"37219
        ''Jonty Jarvis''","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/33753702518_c368f3d98f_b.jpg","height_l":"768","width_l":"1024"},{"id":"32688453967","owner":"10089490@N06","secret":"b452981ee0","server":"65535","farm":66,"title":"Cherry
        blossom scene in Preston","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.s[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=location&key=<GEOCODING_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Independence",
                       "short_name" : "Independence",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Fawn Creek",
                       "short_name" : "Fawn Creek",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Montgomery County",
                       "short_name" : "Montgomery County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Kansas",
                       "short_name" : "KS",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "67301",
                       "short_name" : "67301",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Independence, KS 67301, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 37.09024,
                       "lng" : -95.712891
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.0915889802915,
                          "lng" : -95.71154201970849
                       },
                       "southwest" : {
                          "lat" : 37.08889101970851,
                          "lng" : -95.7142399802915
                       }
                    }
                 },
                 "place_id" : "ChIJpS60CuyBt4cRP-m9-B-ZpJQ",
                 "types" : [ "establishment", "local_government_office", "point_of_interest" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 17 Apr 2019 19:09:11 GMT
recorded_with: VCR 4.0.0
