---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=<FLICKR-KEY>&content_type=1&extras=url_l&format=json&media=photos&method=flickr.photos.search&nojsoncallback=true&per_page=10&tags=location
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":29216,"perpage":10,"total":"292160","photo":[{"id":"47630674471","owner":"99090089@N03","secret":"be061362f3","server":"65535","farm":66,"title":"4-mile
        landscape","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/47630674471_be061362f3_b.jpg","height_l":"507","width_l":"1024"},{"id":"46715155355","owner":"99090089@N03","secret":"f3c3f98e24","server":"65535","farm":66,"title":"Cactus
        fur","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/46715155355_f3c3f98e24_b.jpg","height_l":"683","width_l":"1024"},{"id":"46906450604","owner":"99090089@N03","secret":"3fdbda8374","server":"65535","farm":66,"title":"Cactus
        flowers","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/46906[...]
